#dog-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.dog-image {
  object-fit: contain;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.dog-image--random {
  object-fit: cover;
  max-width: 600px;
}

.user-inputs {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.user-inputs label {
  width: min-content;
}

.random-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.random-image-container__title {
  text-transform: capitalize;
}
